@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
  color: #000080;
  background: #FFFAF0;
font-family: 'Noto Sans', sans-serif; 
 font-size: 14px; 
 line-height: 20px; 
 font-weight: normal;
}
.table {
 font-family: 'Noto Sans', sans-serif; 
 font-size: 14px; 
 line-height: 20px; 
 font-weight: normal;
 list-style: none;
 text-align: left;
 margin: 0;
 padding: 0;
 padding-left: 23px;
}
.info-image {
display: inline-block;
box-sizing: border-box;
width: 26%;
 }
 .info-text {
  margin-left: 10px;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 71%;
 }

.info-text p {
font-size: 14px;
font-style: italic;

}
  .thead {
color: #191970;
padding-right: 10px;
} 
.info-hobby {
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  background: #e4e8ff;
  margin-bottom: 20px;
}
.work {
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  background: #ede4ff;
  margin-bottom: 20px;
} 
.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
  }
.avatar {
  
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
a {
  font-size: 18px;
  
  color: #191970;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 100, 38);
  text-decoration: underline;
}
a:active {
  color: deeppink;
}

.btn {
  width: 275px;
  background: #111;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: inherit;
}
.btn:hover {
  opacity: .8;
  color: rgb(0, 255, 55);
}
/* .table {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-left: 10px;
} */
.table tr td {
  padding-right: 30px;
  padding-bottom: 1px;
}
.list {
  text-align: left;
}
.info-hobby h2 {
  text-align: left;
  padding-left: 23px;
}
.work h2 {
  padding-left: 23px;
}
.table td:nth-child(2) {
  color: grey;
}
.table td:nth-child(3) {
  color: grey;
}
.table td:hover {
  background: rgb(236, 170, 233);
}
.list li:hover {
  background: rgb(236, 170, 233);
}
.list li {
  padding-bottom: 2px;
}
.form-group {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  }
.form-group label {
  display: block;
  font-size: 14px;
  color: black;
}
.form-group input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  color: 000080;
}


.form-row {
  display: flex;
margin-bottom: 10px;
}
.form-row .form-group {
 width: 50%;
  margin-right: 20px;
  
}
.form-row .form-group:last-child {
  margin-right: 0;
}
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  color: 000080;
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  padding: 15px 0 10px;
  font-family: inherit;
}
.form h2 {
  text-align: center;
}

@media (max-width:745px) {
  .form-row {
    display: block;
  }
  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width:765px) {
  .info {
    display: block;
    text-align: center;
  }
  .info-image {
    margin: 0 auto;
    width: unset;
  }
}